/* #box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  border: 1px solid lime;
} */
:root {
  --borderWidth: 3px;
}
.Card_main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 1200px;
  width: 100%;
}
.Card_font {
  font-size: 1.2rem;
  font-family: monospace;
}
.gradient_border {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
  width: 200px;
  height: 200px;
  top: 100px;
  color: white;
  background-color: black;
  border-radius: var(--borderWidth);
  margin-bottom: 100px;
  cursor: pointer;
}
.gradient_border > img {
  width: 100px;
  height: 100px;
}

.gradient_border::after {
  content: " ";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  width: calc(100% + 2 * var(--borderWidth));
  height: calc(100% + 2 * var(--borderWidth));
  border-radius: calc(2 * var(--borderWidth));
  filter: blur(2px);
  z-index: -1;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  animation: animatedgradient 4s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (max-width: 800px) {
  .Card_main {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .gradient_border {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 0;
  }
  .gradient_border > img {
    max-width: 50px;
    width: 100%;
  }
}
