@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
.App {
  /* border: 2px solid red; */
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.questions {
  padding: 1rem;
}

.answer {
  background-color: rgba(0, 0, 0, 0.453);
  padding: 10px;
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  border-radius: 16px;
}
.navbar_div {
  background: rgb(133, 53, 218);
  background: linear-gradient(32deg, rgba(133, 53, 218, 1) 37%, rgba(51, 92, 224, 1) 88%);
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}
.navbar_right {
  display: flex;
  gap: 20px;
}
.navbar_right > button {
  background-color: transparent;

  cursor: pointer;
  border: none;
  padding: 10px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  border-radius: 19px;
  color: white;
}
.Body_main {
  padding: 20px;
  position: relative;
  top: 100px;
  color: white;
}
.Body_slogan {
  padding: 16px;
  font-size: 49px;
  font-family: "Inconsolata", monospace;
  font-family: "Itim", cursive;
}
.Body_caption {
  padding: 12px 12px 20px 16px;
  font-size: 35px;
  font-family: "Handjet", cursive;
  color: rgb(12, 235, 12);
}
.pagination {
  display: flex;
  align-items: center;
}
.navbar_logo {
  font-size: 3rem;
  background: rgb(228, 149, 10);
  background: linear-gradient(
    rgba(228, 149, 10, 0.9780287114845938) 25%,
    rgba(255, 255, 255, 1) 40%,
    rgba(8, 194, 29, 1) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "Dancing Script", cursive;
}
.category_main {
  border: 1px solid lime;
  position: relative;
  top: 100px;
  color: white;
}
.category_ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.category_li {
  display: flex;
  align-items: center;
  border: 1px solid rgb(170, 148, 148);
  padding: 10px;
  border-radius: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
}
.category_li > img {
  width: 21px;
  height: 19px;
  object-fit: cover;
  margin-right: 5px;
}
.category_custom {
  display: flex;
}

.question {
  margin-bottom: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 5px;
}
.question_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  border-radius: 16px;
}
.question_main::after {
  display: flex;
  align-self: center;
  content: "";
  position: absolute;
  inset: -16px;
  border-radius: 16px;
  margin: 0 auto;
  width: 100%;
  height: 280%;
  z-index: -1;
  background: linear-gradient(#a166ab, #5073b8);
}
.question_main::before {
  content: "";
  background-color: #121111;
  position: absolute;
  inset: 5px;
  border-radius: 16px;
}
.question_main > img {
  position: relative;
  top: 10px;
  width: 100px;
  height: 100px;
}
.footer_first {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 20px 10px 20px 10px;
  color: white;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    60deg,
    rgba(131, 58, 180, 1) 14%,
    rgb(7, 63, 231) 27%,
    rgb(223, 85, 72) 64%,
    rgb(174, 48, 128) 97%
  );
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
}
.footer_second {
  display: flex;
  flex-direction: column;
}
.footer_logo img {
  width: 60px;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.whatsapp img,
.instagram img,
.linkedin img {
  width: 20px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (max-width: 600px) {
  .footer_second {
    display: flex;
    flex-direction: column;
  }
  .footer_logo img {
    width: 40px;
  }
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .whatsapp img,
  .instagram img,
  .linkedin img {
    width: 15px;
  }
  .para {
    font-size: 0.6rem;
  }
}
